:root {
    --branco: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: #131518;

    --laranja: hsl(25, 97%, 53%);


    --size-paragraph: 15px;
    --family: [Overpass](https://fonts.google.com/specimen/Overpass);
    --weights: 400, 700;

    --mobile: 375px;
    --desktop: 1440px;
}