:root {
    --branco: #ffffff;
    --light-grey: #959eac;
    --dark-blue: #252d37;
    --very-dark-blue: #131518;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 50%, #232A34 0%, #181E27 100%);

    --laranja: #fb7413;


    --size-paragraph: 15px;
    --family: [Overpass](https://fonts.google.com/specimen/Overpass);
    --weights1: 400;
    --weights2: 700;

    --mobile: 375px;
    --desktop: 1440px;
}