@import url('./reset.css');
@import url('./global.css');

body {
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card, .thank-you {
    width: 412px;
    height: 416px;
    background: var(--black-gradient);
    border-radius: 30px;
    padding: 32px;
}

.card {
    display: none;
}

.card.ativo {
    display: block;
}

.card img {
    padding: 16px;
    border-radius: 50%;
    background-color: var(--estrela);
}

.card h1 {
    font-size: 28px;
    margin: 30px 0px 7px;
}

.card p {
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 1.5;
}

.card .buttons {
    display: flex;
    gap: 22px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.card .buttons button {
    border-radius: 50%;
    width: 51px;
    height: 51px;
    background-color: var(--estrela);
    color: var(--numero);
}

.card .buttons button:hover {
    background-color: var(--gray);
    color: var(--branco);
    cursor: pointer;
}

.card .buttons button.selected {
    background-color: var(--laranja);
    color: var(--branco);
}

.card .btn-submit {
    background: var(--laranja);
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 22.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.card .btn-submit:hover {
    cursor: pointer;
    background: var(--branco);
    color: var(--laranja);
}

.thank-you {
    display: none;
    flex-direction: column;
    align-items: center;
}

.ativo {
    display: flex;
}

.thank-you img {
    margin-top: 13px;
    margin-bottom: 36px;
}

.thank-you span {
    color: var(--laranja);
    font-size: 15px;
    font-weight: 400;
    border-radius: 22.5px;
    background: var(--estrela);
    padding: 5px 21px;
    margin-bottom: 33px;
}

.thank-you h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.thank-you p {
    color: var(--gray);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 340px;
    line-height: 1.8;
}

footer {
    color: white;
}