@import url('./reset.css');
@import url('./global.css');

body {
    color: white;
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card {
    width: 412px;
    height: 416px;
    background: var(--black-gradient);
    border-radius: 30px;
    padding: 32px;
}

.card img {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--estrela);
}

footer {
    color: white;
}